*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("../img/pattern.jpg");
}
nav{
    display: inline;
    margin: auto 0.5vw auto 0;
    float: right;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul a{
    padding-right: 1vw;
    font-weight: bold;
}
header{
    background-color: white;
    position: sticky;
    display: flex;
    width: 100%;
    box-shadow: 0px 2px 10px 1px #abb0ac;
    Justify-content: space-between;
    top: 0;
}
.logo{
    float: left;
}
section{
    background-color: white;
    margin: 2vw 10vw;
    padding: 2vw 2vw;
}
section h1{
    text-align: center;
}
section h3{
    line-height: 5vw;
}
section p{
    text-align: justify;
}
article{
    padding: 1vw 0;
    border-bottom: 1px solid #bababa;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    height: 3vw;
    display: flex;
}
footer h5{
    margin: auto auto;
}